.App {
  text-align: center;
}

.Left-Alligned-Block {
	text-align: left;
}

.App-header {
  background-color: grey;
  min-height: 5vh;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.container-flex {
	background-color: var(--bs-grey);
}

.row {
	display: flex;
	column-count: 3;
}

.row-top {
    background-color: var(--bs-gray);
}

.col {
	background-color: var(--bs-gray);
	float: left;
	width: 25%;
}
